/* Кодировка файла */
@charset "UTF-8";


/* Общие стили */
body {
    min-width: 1040px;
    margin: 0;
    padding: 0;

    font-family: "Arial", sans-serif;
    font-style: 16px;
    line-height: 24px;
    color: #404040;
    background-color: white;
}

.container {
    width: 1020px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.section-title {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #a38b70;
}

.btn {
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover {
    color: #8d745a;
}
.btn:active {
    color: rgba(141, 116, 90, 0.3);
}


/* Шапка */
.page-header {
    min-height: 490px;
    padding-top: 35px;
    background: #363636 url('img/header-bg.jpg') center/cover no-repeat ;
    color: #c3c3c3;
}
.header-top {
    margin-bottom: 125px;
}
.header-logo {
    float: left;
    width: 205px;
    height: 55px;
}
.main-nav {
    float: left;
    width: 520px;
    margin: 0;
    margin-left: 125px;
    padding: 0;
    list-style: none;
}
.main-nav li {
    text-transform: uppercase;
}
.main-nav a {
    color: white;
    text-decoration: none;
}
.main-nav a:hover {
    text-decoration: underline;
}
.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}
.btn-quick-order {
    float: right;
}

.promo {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
}
.promo a {
    text-decoration: none;
    color: white;
}


/* Преимущества */
.features {
    padding: 50px 0 55px;
}
.features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.feature-item {
    float: left;
    width: 279px;
    padding: 90px 30px 0 30px;
    border-left: 1px solid #d9d9d9;
    text-align: center;
}
.feature-item:first-child {
    border-left-color: transparent;
}
.feature-choice {
    background: url('img/feature-1.png') top center no-repeat;
}
.feature-quality {
    background: url('img/feature-2.png') top center no-repeat;
}
.feature-safety {
    background: url('img/feature-3.png') top center no-repeat;
}
.feature-title {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #a38b70;
}


/* Справочник */
.cat-reference {
    padding: 70px 0 90px;
    background-color: #f2f2f2;
}
.cat-reference dl {
    width: 830px;
}
.theory-container:first-child {
    margin-bottom: 70px;
}
.reference-title {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.reference-source {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #666666;
}
.cat-reference dd {
    margin: 0;
}
.cat-reference dd img {
    border-radius: 5px;
}
.reference-source a {
    color: #a38b70;
}
.reference-source a:hover {
    color: #8d745a;
}
.reference-source a:active {
    color: rgba(141, 116, 90, 0.3);
}


/* Отзывы */
.reviews {
    padding: 70px 0 90px;
}
.review-item {
    float: left;
    width: 377px;
    margin: 0 80px 0 0;
    padding: 0 0 0 50px;
    border-left: 3px solid #a38b70;
}
.review-author {
    font-weight: bold;
    font-style: italic;
}


/* Популярные товары */
.popular-and-price {
    padding: 70px 0 90px;
    background-color: #f2f2f2;
}
.popular-items {
    margin-bottom: 50px;
}
.catalog-item {
    float: left;
    width: 308px;
    margin-right: 48px;
}
.catalog-item:last-child {
    margin: 0;
}
.catalog-item img {
    max-width: 100%;
    height: auto;
}
.catalog-item h3 {
    font-size: 16px;
    color: #000000;
}
.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}
.price-list th {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}
.price-list td {
    border: 1px solid #d8d8d8;
}
.price-list th,
.price-list td {
    padding: 5px 10px;
}
.price-list .price-number {
    text-align: center;
}
.price-list .price-name {
    color: #000000;
    font-weight: bold;
}


/* Форма пользователя */
.feedback {
    padding: 60px 0 70px;
}
.feedback-form {
    width: 630px;
    padding-right: 390px;
    background: url('img/write.jpg') 100% 40px no-repeat;
}
.feedback-form-group {
    padding: 10px 0;
}
.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase;
}
.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}
.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;

}
.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}
.checkbox-area {
    border-bottom: 1px solid #d5d5d5;
}


/* Подвал */
.page-footer {
    padding: 45px 0 50px;
    background-color: #363636;
    color: #c3c3c3;
}

.footer-top {
    margin-bottom: 45px;
}
.footer-middle,
.footer-bottom {
    padding-top: 50px;
    border-top: 1px solid #5e5e5e;
}
.footer-middle {
    margin-bottom: 50px;
}

.footer-logo {
    float: left;
    width: 205px;
    height: 55px;
}

.footer-menu {
    float: left;
    width: 150px;
    margin-right: 20px;
}
.footer-menu h3 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70;
}
.footer-menu ul {
    list-style: none;
}
.footer-menu a {
    color: #c3c3c3;
    text-decoration: none;
}
.footer-menu a:hover {
    color: #ffffff;
}
.footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    float: left;
    width: 490px;
}
.footer-social b {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70;
}
.social-btn {
    color: #ffffff;
}

.footer-copyright {
    float: right;
    width: 236px;
    color: #ffffff;
    text-transform: uppercase;
}
.footer-copyright a {
    color: #ffffff;
    text-decoration: none;
}
.footer-copyright a:hover {
    text-decoration: underline;
}
.footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);
}
